*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.main{
    background-image: url('./Assets/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1300px, 100vw);
    height: 100vh;
    position: relative;
    z-index: 0;
}
.main .box{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.639); /* Use rgba for transparency instead of opacity */
    position: absolute;
    top: 0;
    z-index: 1;
}
nav{
    /* background-color: rgb(153, 94, 94); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
    padding: 30px;
    position: relative;
    z-index: 2;
}
nav .btn button:nth-child(1){
    background-color: transparent;
    color:white;
    border: 1px solid white;
    padding: 6px 10px;
    border-radius: 4px;
    position: relative;
    z-index: 2;

}
nav .btn button:nth-child(2){
    background-color: red;
    color:white;
    border: 1px solid white;
    padding: 6px 10px;
    border-radius: 4px;
    position: relative;
    z-index: 2;

}
.box h3{
    z-index: 2; /* Ensure it's above other elements */
    position: relative;
    color: white; /* Change to white for better contrast */
    text-align: center; /* Center the text horizontally */
    /* line-height: 70vh; */
    margin-top: 40vh;
    font-size: 58px;
}
.box h4{
    z-index: 2; /* Ensure it's above other elements */
    position: relative;
    color: white; /* Change to white for better contrast */
    text-align: center; /* Center the text horizontally */
    /* line-height: 10px; */
    font-size: 28px;
}